@import url('https://fonts.googleapis.com/css2?family=Baskervville&family=Pattaya&family=Press+Start+2P&family=Rubik+Iso&family=Silkscreen&display=swap');
body {
    margin: 0;
    padding: 0;
}
header {
    width: 100vw;
    height: 151px;
    background-color: #3C3964
}
#nome {
    padding-top: 3vw;
    padding-left: 2vh;
    font-family: 'Baskervville', serif;
    font-size: 30px;
    vertical-align: center;
    letter-spacing: 3px;
    color: white;
}
#options {
}
.linha {
    justify-content: space-between;
    display: flex;
}
ul>li {
    list-style: none;
    padding-left: 60px;
    color: aliceblue;
    padding-top: 1.5vw;
}
ul {
    flex-direction: row;
    display: flex;
    font-size: 30px;
    padding-right: 30px;
    font-family: 'Baskervville', serif;
}
main {
    width: 100vw;
    height: 100vh;
    
}
img {
    opacity: 0.5;
    display: table solid;
}
#foto {
    opacity: 1;
}