@import url("https://fonts.googleapis.com/css2?family=Pattaya&family=Press+Start+2P&family=Rubik+Iso&family=Silkscreen&display=swap");
body {
    margin-right: 0px;
    padding: 0px;
    background-image: url("https://img.freepik.com/vetores-gratis/fundo-branco-abstrato_23-2148810113.jpg?w=2000");
}
header {
    height: 10vh;
    width: 100vw;
    background-color: white;
}
.linha {
    justify-content: space-between;
    display: flex;
    align-items: center;
}
#logo {
    display: flex;
}
#palav {
    font-family: Pattaya, sans-serif;
    font-size: 60px;
    margin-left: 20px;
}
#p {
    color: aqua;
    font-size: 60px;
}
#options > button {
    margin-left: 15px;
}
#options {
    margin-right: 10px;
}
#roxo {
    width: 100vw;
    height: 30px;
    background-color: blueviolet;
}
#options > button { font-size: 17px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid;
    cursor: pointer;
}
#options > button:hover {
    border: 1px solid;
    background-color: darkgrey;
    color: white;
}
main {
    width: 80vw;
    height: 20vh;
    margin-top: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin-left: 10vw;
}
.lorem {
    display: flex;
}
#texto > h1 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: mediumblue;
}
#texto > div { font-size: 25px; font-family: Arial, Helvetica, sans-serif; }
#texto > button { background-color: blue; color: white; border-radius: 5px; padding: 15px; font-size: 20px; }
#texto > button:hover { cursor: pointer; }
.main2 { margin-left: 10vw; width: 80vw; height: 20vh; margin-top: 10vw; align-items: center; justify-content: space-between; display: flex; flex-direction: row; }
.txt2 > h1 { font-size: 40px; font-family: Arial, Helvetica, sans-serif; color: mediumblue; }
.txt2 > p { font-size: 25px; font-family: Arial, Helvetica, sans-serif; }
.txt2 > button { background-color: blue; color: white; border-radius: 5px; padding: 15px; font-size: 20px; }
.txt2 > button:hover { cursor: pointer; }
.main3 { margin-left: 10vw; display: flex; width: 80vw; height: 20vh; margin-top: 12vw; align-items: center; justify-content: space-between; flex-direction: row; }
#txt3 > h1 { font-size: 40px; font-family: Arial, Helvetica, sans-serif; color: mediumblue; }
#txt3 > p { font-size: 25px; font-family: Arial, Helvetica, sans-serif; }
#txt3 > button { background-color: blue; color: white; border-radius: 5px; padding: 15px; font-size: 20px; }
#txt3 > button:hover { cursor: pointer; }
