* {
    margin: 0;
    padding: 0;
}

#background {
    width: 100vw;
    height: 100vh;
    position: fixed;
}

header {
    width: 100vw;
    height: 10vh;
    /* background-color: aqua; */
    display: flex;
    justify-content: right;
    flex-direction: row;
    position: relative;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: right;
    color: white;
    list-style: none;
    gap: 2rem;
}

header  ul  li  a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#points{
    width: 30px;
    margin-right: 20px;
    position: relative;
    padding: 4px;
    top: -8px;
    filter: invert(100%);
    border-radius: 10px;
}

#points:hover {
    cursor: pointer;
    background-color: #dedcdc;
}

#checkbox {
display: none;
}

#checkbox:checked ~ #nav {
    display: flex;
}

#img-google {
    height: 20vh;
    /* background-color: white; */
    top: 14vh;
    align-items: center;
    justify-content: center;
}

#google {
    width: 380px;
    position: absolute;
    display: flex;
    top: 15%;
    left: 39%;
}

#input-search {
    top: -2.5vh;
    height: 10vh;
}

input {
    position: absolute;
    width: 30vw;
    height: 45px;
    border-radius: 30px;
    padding-left: 50px;
    padding-right: 60px;
    padding-top: 2px;
    font-size: 16px;
    outline: none;
    border: none;
}

#lupa {
    width: 20px;
    display: flex;
    position: relative;
    left: -240px;
    top: 0px;
}

#microfone {
    width: 40px;
    position: relative;
    left: 245px;
    top: 0;
}

div {
    width: 100vw;
    height: 5vh;
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    top: 31.5%;
}

#nav {
    background-color: white;
    width: 15vw;
    height: 45vh;
    position: absolute;
    right: 10px;
    top: 70px;
    border-radius: 10px;
    display: none;
}
main {
    background-color: rgba(260, 260, 260, .5);
    top: 10vh;
    width: 30vw;
    height: 20vh;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
}

#sugest1 {
    border-radius: 15px;
    width: 130px;
    height: 130px;
    flex-direction: column;
}

#sugest1 p {
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#sugest1:hover {
    cursor: pointer;
    background-color: rgba(260, 260, 260, .3);
}

#github-img {
    width: 30px;
    position: relative;
    background-color: white;
    border-radius: 100px;
    padding: 18px;
}

#uol-img {
    width: 30px;
    background-color: white;
    border-radius: 100px;
    padding: 18px;
}

#sugest2 {
    border-radius: 30px;
    width: 130px;
    height: 130px;
    flex-direction: column;
}

#sugest2:hover {
    cursor: pointer;
    background-color: rgba(260, 260, 260, .3);
}

#sugest2 p {
    margin-top: 10px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

